* {
    background-color: #000000;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding: 0;
    box-sizing: border-box;
}

<!------- Background -------!>
body {
    background-color: #000000; /* Use any color value you prefer */
    color: #000000;
}

<!------- Text -------!>
h1 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: .3em;
    text-decoration: underline;
  }
  
p {
    font-family: Helvetica Neue, Light;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

h7 {
    text-align: center;
    font-size: 22px;
    color: #ffffff;
  }

h8 {
    text-align: right;
    font-size: 40px;
    color: #ffffff;
  }

  table {
    margin: .3em;
    width: 290px;
  }
  
  th {
    padding: .2em;
  }
  
  td {
    padding-left: .5em;
    padding-right: .5em;
    border: 1px solid #900;
    background-color: #ffc;
  }
  
  #trHeader {
    text-decoration: underline;
    color: #900;
  }
  
  .centerCell {
    text-align: center;

<!------- Navigation -------!>


  navbar {
      overflow: hidden;
      font-family: Arial;
  }
      
.navbar a {
  float: left;
  font-size: 16px;
  color: ffffff;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  text-decoration: underline;
}
      
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0;
    border: 1px solid #ccc;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li ul li {
    display: block;
    
  }
